<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
         <%= typeof title !='undefined'? title:'Cooking Blog' %> </title>

         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
         <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/public/css/style.css">
</head>
<body background="/img/i-like-food.png">

        <div class="container-xxl px-md-5 bg-white shadow-lg">

            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="/img/logo.jpg" width="120" height="100" alt="Cooking Blog - Made with Node.js">
              </a>
        
              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
                <li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</a></li>
                <li><a href="/contact" class="nav-link px-2 link-secondary">Contact</a></li>
              </ul>
        
              <div class="col-md-3 text-end">
                <form method="POST" action="/search">
                  <input type="search" name="searchTerm" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
              </div>
            </header>



    <%- body %>

    <footer class="py-5">
        <p>Build by Nayeem</p>
      </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</body>
</html>